@{
    ViewData["Title"] = "Restaurants Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restaurants List</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">adding Restaurants with ASP.NET Core</a>.</p>
</div>